.updatePersonalPage {
  height: 100vh;
  background: rgba(229, 229, 229, 0.75);

  .avatar {
    background: white;;
    padding: 50rpx 0;
    margin-bottom: 20rpx;

    .avatar-wrapper {
      border: none;
      background: white;
      text-align: center;
      display: flex;
      justify-content: center;
    }

    .avatar-wrapper:after {
      border: none;
    }

    .avatarInfo {
      text-align: center;
    }
  }

  .nickInput {
    background: white;;
    padding: 30rpx 20rpx;
    display: flex;
    justify-content: space-between;

    .nickInfo {
      padding-right: 20rpx;
    }

    .input {
      width: 80%;
    }
  }

  .save {
    margin: 30rpx 20rpx;
    background-color: #4298B4;
    border-radius: 50rpx;
  }
}
