.global_footer {
  height: 40vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  .footer_picture {
    width: 100%;
  }

  .copyright {
    text-align: center;
    font-style: italic;
  }
}
