@import "../../app.scss";

.questionPage {
  .questionPageHead {
    background-color: $sub-theme-color;
    padding: 15rpx;

    .tip {
      margin: 15rpx;
      padding: 15rpx;
      display: flex;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 15rpx;
      height: 100rpx;

      .tip_img {
        height: inherit;
      }

      .tip_text {
        font-size: medium;
        font-weight: bold;
        line-height: 100rpx;
      }
    }
  }

  .option {
    .title {
      padding-bottom: 15rpx;
    }
  }

}
