@import "../../app.scss";

.index_page {
  height: 80vh;
  background-color: $theme-color;

  .index_head {
    display: flex;
    justify-content: space-between;
    padding: 0 0 10rpx 10rpx;
    height: 100rpx;
    background-color: $white;
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 110% 100%, 73% 65%, 50% 100%, 24% 67%, 0 100%, 0% 35%, 0 0);

    .index_logo {
      width: 50%;
      height: 80rpx;
      background: url(#{$logo}) no-repeat left center;
      background-size: cover;
    }

    .index_icon {
      width: 100rpx;
      height: inherit;
      line-height: inherit;
      text-align: center;
      font-size: 50rpx;
      font-weight: bold;
      color: $white;
      background-color: $theme-color;
      clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 61%);
    }

  }

  .container {
    padding: 0 10rpx 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;

    .title {
      color: $white;
      font-weight: bold;
      padding-top: 20rpx;
    }

    .subtitle {
      color: $white;
      font-size: medium;
      font-weight: 500;
    }

    .btn_join {
      width: 50%;
      margin-top: 20rpx;
    }
  }

  .login_logo {
    width: 100%;
    height: 120rpx;
  }

  .login_info {
    text-align: center;
    padding-bottom: 20rpx;
  }
}
